<div  id="particles-js">
    
</div>

<nav class="navbar navbar-color navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
  <a class="navbar-brand" href="#"><div><img src="/img/brand.png" alt=""></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <li class="redes">
        <a class="nav-link facebook" href="https://web.facebook.com/mataqque.flavio" target="__blank">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="redes">
        <a class="nav-link twitter" href="#">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="redes">
        <a class="nav-link github" href="https://github.com/mataqque" target="__blank">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li class="redes">
        <a class="nav-link pinterest" href="https://www.pinterest.com/flaviomataqque/" target="__blank">
            <i class="fab fa-pinterest-p"></i>
        </a>
    </li>
    </ul>
  </div>
     </div>
</nav>
<section>
    <div class="container"><h1 class="text-light text-center py-3">My templates</h1></div>
</section>
<section class="container contenedor-layout pt-4">
    <div class="row">
        <div class="contenedor_portafolio pb-3 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <div class="content_imagen card"><img class card="img_page card-img-" src="/img/paginas1.jpg" alt="">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <a href="/shop1" rel="nofollow" class="btn btn-outline-success">view this</a>
                        </div></div>
                        <h4 class="text-light pt-2 text-hover">Shopy - home </h4>
                    </div>
        <div class="contenedor_portafolio pb-3 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <div class="content_imagen card"><img class card="img_page card-img-" src="/img/visualize.jpg" alt="">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <a href="/pinterest" rel="nofollow" class="btn btn-outline-success">view this</a>
                        </div></div>
            <h4 class="text-light pt-2 text-hover">Pinterest - Images </h4>
        </div>
        <div class="contenedor_portafolio pb-3 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <div class="content_imagen card"><img class card="img_page card-img-" src="/img/tracker-gps.png" alt="">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <a href="https://gps-trackerheroku.herokuapp.com" rel="nofollow" class="btn btn-outline-success">view this</a>
                        </div></div>
            <h4 class="text-light pt-2 text-hover">Gps - Tracker </h4>
        </div>
        <div class="contenedor_portafolio pb-3 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <div class="content_imagen card"><img class card="img_page card-img-" src="/img/spankys.jpg" alt="">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <a href="/spanky" rel="nofollow" class="btn btn-outline-success">view this</a>
                        </div></div>
            <h4 class="text-light pt-2 text-hover">English </h4>
        </div>
        <div class="contenedor_portafolio pb-3 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <div class="content_imagen card"><img class card="img_page card-img-" src="/img/stalker.jpg" alt="">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <a href="https://stalkerman.herokuapp.com/" rel="nofollow" class="btn btn-outline-success">view this</a>
                        </div></div>
            <h4 class="text-light pt-2 text-hover">Stalker </h4>
        </div>
        
    </div>
</section>
<div class="side-animation">
    <div class="items-side"><img src="/img/side-content-bg.jpg" alt="">
        <div class="contenedor-item">
            <h4 class="text-light px-3 py-2 m-0 text-center">MORE TEMPLATES WITH BOOTSTRAP, CSS AND JAVASCRIPT</h4>
            <p class="text-light px-3 py-2 text-justify" style="width: 80%;">I will soon publish template codes, because my birthday is coming and I want to share it on this website</p>
            <div id="flipdown" class="flipdown">
                <div ></div>
            </div>
        </div>
        <div class="btn-side"><img src="/img/corel.svg" alt=""></div>
    </div>
    <div class="items-side"><img src="/img/side-content-icon.png" alt=""></div>
    
</div>
{{!-- chatbot portafolio IBM WATSON --}}
<div class="chatbot">
        <form id="chat">
            <div id="status">
                <div>
                    <div class="usuario">
                        <p>Soporte</p>
                    </div>
                    <div class="point justify-self-end"><img src="/img/minimizar.svg" alt=""></div>
                    <div class="point justify-self-end"><img src="/img/cerrar.svg" alt=""></div>
                </div>
                <div id="identity">
                    <div><img src="/img/bot.png" alt=""></div>
                    <div><strong><p>CHABOT</p></strong><p>Atención al cliente</p></div>
                </div>
            </div>
            <div id="show-message">
                    
            </div>
            <div id="content-message">
                <input type="text" id="get-message" autocomplete="off">
                <button id="send-message"><i class="fas fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
<style>
    .tex{
        color: rgb(243, 243, 243);
    }
</style>