<div class="container px-lg-5 px-sm-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-phone"></i> (+51) 946 008 051</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-envelope"></i> mataqque.100@gmail.com</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        USD
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">PLN</a>
                        <a class="dropdown-item" href="#">EUR</a>
                      </div>
                    </li>
                </ul>
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link facebook" href="#" ><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link twiter" href="#" ><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link pinterest" href="#" ><i class="fab fa-pinterest-p"></i></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link github" href="#" ><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
                
                </div>
            </nav>
            <section class="contenedor-home">
                <div class="imagen-home">
                  <img src="/img/home.jpg" alt="">
                </div>
                <div class="boton"> <i class="fas fa-angle-right text-dark"></i></div>
                <div class="boton1"> <i class="fas fa-angle-left"></i></div>
              </section>
            <div class="d-flex navbar-shop navbar-dark bg-dark navbar-expand-lg">
                <a class="navbar_brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="items-shop  px-3"><a>
                      <i class="fas fa-home"></i>
                    </a>
                  </div>
                    <div class="items-shop px-3">
                    <a href="">
                      SHOP <i class="fas fa-caret-down pl-1"></i>
                    </a> 
                    <div class="contenedor-shop mostrar">
                        <ul>
                            <li class="listado"><a href="#"><p>Shop with sidebar</p></a></li>
                            <li class="listado"><a href="#"><p>Shop with Av articule</p></a></li>
                            <li class="listado"><a href="#"><p>Shop women y child</p></a></li>
                            <li class="listado"><a href="#"><p>Clothes</p></a></li>
                            <li class="listado"><a href="#"><p>Desk for </p></a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-shop px-3">
                    <a href="">
                      SHOP <i class="fas fa-caret-down pl-1"></i>
                    </a> 
                    <div class="contenedor-shop mostrar">
                        <ul>
                            <li class="listado"><a href="#"><p>Shop with sidebar</p></a></li>
                            <li class="listado"><a href="#"><p>Shop with Av articule</p></a></li>
                            <li class="listado"><a href="#"><p>Shop women y child</p></a></li>
                            <li class="listado"><a href="#"><p>Clothes</p></a></li>
                            <li class="listado"><a href="#"><p>Desk for </p></a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-shop px-3">
                    <a href="">
                      SHOP <i class="fas fa-caret-down pl-1"></i>
                    </a> 
                    <div class="contenedor-shop mostrar">
                        <ul>
                            <li class="listado"><a href="#"><p>Shop with sidebar</p></a></li>
                            <li class="listado"><a href="#"><p>Shop with Av articule</p></a></li>
                            <li class="listado"><a href="#"><p>Shop women y child</p></a></li>
                            <li class="listado"><a href="#"><p>Clothes</p></a></li>
                            <li class="listado"><a href="#"><p>Desk for </p></a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-shop px-3">
                    <a href="">
                      SHOP <i class="fas fa-caret-down pl-1"></i>
                    </a> 
                    <div class="contenedor-shop mostrar">
                        <ul>
                            <li class="listado"><a href="#"><p>Shop with sidebar</p></a></li>
                            <li class="listado"><a href="#"><p>Shop with Av articule</p></a></li>
                            <li class="listado"><a href="#"><p>Shop women y child</p></a></li>
                            <li class="listado"><a href="#"><p>Clothes</p></a></li>
                            <li class="listado"><a href="#"><p>Desk for </p></a></li>
                        </ul>
                    </div>
                    </div>
                 </div>  
            </div>
          <section class="container">
                <div class=" categoria bg-light row px-lg-4">
                <div class="item_categoria col-sm-12 col-lg-4"><div><img src="/img/featured_img_1.webp" alt=""><a class="botton-categoria" href="#"><p>Men's shirts</p><span>40% desc.</span></a></div></div>
                <div class="item_categoria col-sm-12 col-lg-4"><div><img src="/img/featured_img_1.webp" alt=""><a href="#"  class="botton-categoria"><p>Men's shirts</p><span>40% desc.</span></a></div></div>
                <div class="item_categoria col-sm-12 col-lg-4"><div><img src="/img/featured_img_1.webp" alt=""><a href="#"  class="botton-categoria"><p>Men's shirts</p><span>40% desc.</span></a></div></div>
            </section>
            <div class="columns">
                <h3 class="h4 m-0 text-colums">New Arrivals</h3>
                <span class="linea"></span>
            </div>
        <section class="pt-lg-2 container modelos pb-3 pt-2">
                <ul class="row container m-0">
        <li class="col-sm-12 col-md-6 col-lg-3 lista-shop m-0 pb-3">
        <div class="mediaholder">
          <div>
                <div class="cover1">
                  <img alt="" src="/img/shop_item_01.webp">
                </div>  
                <div class="cover">
                    <img alt="" src="/img/shop_item_01_hover.webp">
                </div>
                </div>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column target-models py-2">
            <span class="text-dark d-block">skirt</span>
            <p class="d-block h6 m-0">Brown mini</p>
            <span class="font-weight-bold">75$</span>
        </div>
        </li>
        
        <li class="col-sm-12 col-md-6 col-lg-3 lista-shop m-0 pb-3">
        <div class="mediaholder">
          <div>
                <div class="cover1">
                  <img alt="" src="/img/par2.webp">
                </div>  
                <div class="cover">
                    <img alt="" src="/img/par2hover.webp">
                </div>
                </div>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column target-models py-2">
            <span class="text-dark d-block">skirt</span>
            <p class="d-block h6 m-0">Brown mini</p>
            <span class="font-weight-bold">75$</span>
        </div>
        </li>
        <li class="col-sm-12 col-md-6 col-lg-3 lista-shop m-0 pb-3">
        <div class="mediaholder">
          <div>
                <div class="cover1">
                  <img alt="" src="/img/par3.webp">
                </div>  
                <div class="cover">
                    <img alt="" src="/img/par3hover.jpg">
                </div>
                </div>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column target-models py-2">
            <span class="text-dark d-block">skirt</span>
            <p class="d-block h6 m-0">Brown mini</p>
            <span class="font-weight-bold">75$</span>
        </div>
        </li>
        <li class="col-sm-12 col-md-6 col-lg-3 lista-shop m-0 pb-3">
        <div class="mediaholder">
          <div>
                <div class="cover1">
                  <img alt="" src="/img/par4.webp">
                </div>  
                <div class="cover">
                    <img alt="" src="/img/par4hover.webp">
                </div>
                </div>
            <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column target-models py-1">
            <span class="text-dark d-block">skirt</span>
            <p class="d-block h6 m-0">Brown mini</p>
            <span class="font-weight-bold">75$</span>
        </div>
        </li>
        
        </ul>
      </section>
      <section class="pb-4 contenedor_all_parallax">
          <div class="contenedor_parallax">
              <div class="parallax text-light d-flex justify-content-center align-items-center flex-column"> 
                  <h1>YOUR CLOTHES ARE HERE</h1>
                  <h3>30% DESC OFF WOMEN AND MEN</h3>
                </div>
              <img id="parallax" src="/img/parallax.webp" alt="">
          </div>
      </section>
      <section class="container contendor_others pb-3">
            <div class="row px-lg-4">
                <div class="col-md-4">
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >

                </div>
                <div class="col-md-4">
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >

                </div>
                <div class="col-md-4">
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >
                    <div class="contenedor_mini"><img src="/img/par3hover.jpg" alt=""><div><p>Canvas Backpack</p><span><strong>50$</strong></span></div></div >

                </div>

            </div>
      </section>
      <div class="columns">
        <h3 class="h4 m-0 text-colums text-dark">New Arrivals</h3>
        <span class="linea"></span>
    </div>
      <section class="articulos container py-2">
        <div class="row container px-lg-4">
            <div class="col-lg-3 pb-3">
                <div class="card">
                    <img class="card-img-top" src="/img/from_the_blog_01.webp" alt="">
                    <div class="card-body">
                        <p class="card-title font-weight-bold m-0">Amazon Raises Threshold for Free Shipping</p>
                        <p style="font-size: 12px;color: gray;">By Vasterad on May 31, 2014</p>
                        <p class="card-text">Pellentesque ultricies vehicula eleifend. Aenean eu nunc semper faucibus sapien viverra.</p>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 pb-3">
                <div class="card">
                    <img class="card-img-top" src="/img/from_the_blog_02.jpg" alt="">
                    <div class="card-body">
                        <p class="card-title font-weight-bold m-0">Amazon Raises Threshold for Free Shipping</p>
                        <p style="font-size: 12px;color: gray;">By Vasterad on May 31, 2014</p>
                        <p class="card-text">Pellentesque ultricies vehicula eleifend. Aenean eu nunc semper faucibus sapien viverra.</p>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 pb-3">
                <div class="card">
                    <img class="card-img-top" src="/img/from_the_blog_03.webp" alt="">
                    <div class="card-body">
                        <p class="card-title font-weight-bold m-0">Amazon Raises Threshold for Free Shipping</p>
                        <p style="font-size: 12px;color: gray;">By Vasterad on May 31, 2014</p>
                        <p class="card-text">Pellentesque ultricies vehicula eleifend. Aenean eu nunc semper faucibus sapien viverra.</p>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 pb-3">
                <div class="card">
                    <img class="card-img-top" src="/img/from_the_blog_04.webp" alt="">
                    <div class="card-body">
                        <p class="card-title font-weight-bold m-0">Amazon Raises Threshold for Free Shipping</p>
                        <p style="font-size: 12px;color: gray;">By Vasterad on May 31, 2014</p>
                        <p class="card-text">Pellentesque ultricies vehicula eleifend. Aenean eu nunc semper faucibus sapien viverra.</p>
                      </div>
                </div>
            </div>
        </div>
      </section>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="./bootstrap/js/bootstrap.js"></script>
    <script>
        $(document).on("scroll",()=>{
            var scrollmove = $(document).scrollTop()/9;
            console.log(document.body.clientWidth)
            if(document.body.clientWidth>992){
            document.getElementById("parallax").style.top=`-${scrollmove}px`;
            }else{
              document.getElementById("parallax").style.top='0px'
            }
        })
    </script>