<nav class="navbar navbar-expand-md navbar-dark bg-dark contenedor_navbar">
    <div class="container">
    <a class="navbar-brand" href="#">Spanky</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Menu principal<i class="fas fa-home pl-1"></i></a>   
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Quienes somos<i class="fas fa-users pl-1"></i></a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contacto <i class="fas fa-comment-alt pl-1"></i></a>
                </li>
        <li class="nav-item pl-4 pr-4">
            <button class="btn btn-success">Iniciar Sesión</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-info px-4">Registro...</button>
        </li>
    </ul>
        </div>
    </div>
    </nav>
    <div class="Pagina_usuario">
        <section>
            <div class="container-fluid p-0">
                <div class="container_landingpage text-center" >
                <div style="position:relative;top: 20%;">
                <h1>Spanky</h1>
                <button class="btn btn-outline-success btn-lg">Comienza con la lectura del día..</button>
                </div>
                <!-- <img src="/recurso/lectura.jpg" class="img-fluid"> -->
                </div>
            </div>
        </section>
    <section class="info_niveles py-3">
        <h1 class="text-center text-dark pb-5 pt-3 h3">El curso de inglés más efectivo
            para aprender inglés desde casa </h1>
<div class="container">
    <div class="row informacion_de_los_cursos">
        <div class="col-sm-6 col-md-4 d-flex justify-content-center pb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top altura_imagen" src="recurso/leyendo1.jpg" alt="Card image cap">
                <div class="card-body">
                <h3 class="text-center">Curso Basico</h3>
                <p class="card-text text-center">
                        If you are starting to learn the English language and want to know the basics, such as greetings, everyday vocabulary, and frequent phrases
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 d-flex justify-content-center pb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top altura_imagen" src="recurso/leyendo2.jpg" alt="Card image cap">
            <div class="card-body">
            <h3 class="text-center">Curso Intermedio</h3>
            <p class="card-text text-center">
            Created for people who have more integrated English in their lives, the course provides stimulation to the creation of sentences and word association
            </p>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-4 d-flex justify-content-center pb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top altura_imagen" src="recurso/leyendo3.jpg" alt="Card image cap">
                <div class="card-body">
                <h3>Curso Avanzado</h3>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>     
    </div>       
</div>
</section>
                <section class="testimonial">
                    <div class="container py-5">
                        <p class="h4 text-center text-dark">Empieza a vivir el ingles de otra manera, recuerda no dejes de aprender!, la constancia en el ingles se ve reflejado en tus palabras :)</p>
                    </div>
                </section>
    <section>
        <div class="container mt-5">
            <h3 class="text-center h2">Nuestro programa cuenta con 8 niveles y está basado en la metodología CEFR.</h1>
            <p class="text-info text-center h4">(Common European Framework of Reference for Languages)</p>
            <div>
            <img class="d-none d-sm-none d-md-block img-fluid contenedor_imagen_nivel" src="https://df54ifeo9csf5.cloudfront.net/wp-content/uploads/2015/12/niveles-cerf-basico.png" alt="">
            <img class="d-block d-md-none d-sm-block img-fluid d-none-sm" src="https://df54ifeo9csf5.cloudfront.net/wp-content/uploads/2017/06/niveler-cert-medio-mobile.jpg?x69022" alt="">
        </div>
        </div>
    </section>
    <section class="target_teacher">
        <div class="container">
            <div class="row">
                <h3 class="h1 text-center text-titulo m-0 text-light">Nuestros Profesores</h3>
                <div class="col-sm-12 d-flex justify-content-center py-4">
                    <div class="nuestros_profesores nuestros_profesores d-flex align-items-center justify-content-center">
                        <div class="card_container">
                          <div class="card">
                            <div class="adelante"><div class="imagen_contenedor" style="background: url(recurso/teacher-avril.jpg)no-repeat;"><h3>Joana</h3></div></div>
                            <div class="atras"><h3 style="font-size: 40px;color:white">Hola</h3></div>
                          </div>
                        </div>
                        <div class="card_container">
                          <div class="card">
                            <div class="adelante"><div class="imagen_contenedor" style="background: url(recurso/teacher-joanne.jpg)no-repeat;" ><h3>Juliana</h3></div></div>
                            <div class="atras"><h3 style="font-size: 40px;color:white">Hola</h3></div>
                          </div>
                        </div>
                        <div class="card_container">
                          <div class="card">
                            <div class="adelante"><div class="imagen_contenedor" style="background: url(recurso/teacher-michael.jpg) no-repeat;"><h3>Michael</h3></div></div>
                            <div class="atras"><h3 style="font-size: 40px;color:white">Hola</h3></div>
                          </div>
                        </div>
                        <div class="card_container">
                          <div class="card">
                            <div class="adelante"><div class="imagen_contenedor" style="background: url(recurso/teacher-robert.jpg) no-repeat;"><h3>Erick</h3></div></div>
                            <div class="atras"><h3 style="font-size: 40px;color:white">Hola</h3></div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>    
    </div>
    <script>
            AOS.init();
    </script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>