
    <section class="contenedor-navbar">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                        <a class="navbar-brand" href="#">Flavio</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="/oportunidad">Oportunidad</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Planes
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Premiun</a>
                                <a class="dropdown-item" href="#">Medio</a>
                                <a class="dropdown-item" href="#">Básico</a>
                                <!-- <div class="dropdown-divider"></div> -->
                              </div>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Soporte</a>
                            </li>
                          </ul>
                         <div class="pr-3"><a class="btn btn-info pr-2" href="/tracker">Iniciar session <li class="fas fa-user"></li></a></div>
                         <a class="btn btn-danger" href="/dashboard">Panel<li class="fas fa-sign-in-alt"></li></a>
                        </div>
                      </nav>
    </section>
    <section class="background">
                <div class="fondo-nubes">
                </div>
    </section>
    <section class="informacion_first">
        <div class="redes_sociales">
            <a href=""><i class="fab fa-facebook-square"></i></i><p class="text-light pl-4 mb-0">/mataqque.flavio</p></a>
            <a href=""><i class="fas fa-phone"></i><p class="text-light pl-4 mb-0">931 118 147</p></a>
            <a href=""><i class="fab fa-twitter-square"></i><p class="text-light pl-4 mb-0">twitter.com</p></i></a>
          </div>
        <div class="container contenedor-first">
            <div class="row">
                <div class="col-sm-12 col-md-6 pr-4 d-flex">
                <img class="img-fluid align-self-center fondo_tracking" src="img/font_tracking_device.png" alt="">
                </div>
                <div class="col-sm-12 col-md-6 pl-3 d-flex align-items-center justify-content-center" >
                    <div class="information-text">

                        <h3 class="pt-5 h2">GpsGate. A real-time tracking and fleet management platform to power your business. Customizable. Scalable.</h3>
                        <p class="h5 text-dark">White-label software used by tracking partners in
                            over 150 countries.</p>
                        <div class="d-flex align-items-center justify-content-center pt-4">
                                <a class="btn btn-info text-light btn-lg justify-content-center">Prueba Gratis</a>
                        </div>
                        </div>
            </div>
            </div>
        </div>
    </section>
    <section class="contenedor-global">
    <section class="valores">
            <div class="container py-4">
                    <div class="row sixteen_columns">	
                            <div class="col-md-4 col-lg-3 interlineado">
                                <a href="#realTime">
                                <article class="icon-box5"><div><i class="fas fa-tachometer-alt"></i></div>
                                  <h4>Tiempo-real track &amp; alertas</h4>
                                  <p class="text-dark">Seguimiento de los vehiculos en tiempo real con notificiacion al instante.</p>
                                </article></a>
                            </div>
                            <div class="col-md-4 col-lg-3 interlineado">
                                <a href="#reporting"><article class="icon-box5"><div><i class="fas fa-chart-pie"></i></div>
                                  <h4>Reportes</h4>
                                  <p class="text-dark">All the standard reports you need, and as many custom reports as you want.</p>
                                </article></a>
                            </div>
                            <div class="col-md-4 col-lg-3 interlineado">
                                <a href="#security"><article class="icon-box5"> <div><i class="fas fa-shield-alt"></i></div>
                                  <h4>Securidad</h4>
                                  <p class="text-dark">Real-time overviews, alerts, and detailed records keep vehicles, cargo, and drivers safe.</p>
                                </article></a>
                            </div>
                            <div class="col-md-4  col-lg-3 interlineado">
                                <a href="#dispatch"><article class="icon-box5"><div><i class="fas fa-road"></i></div> 
                                  <h4>Dispatch</h4>
                                  <p class="text-dark">Managing jobs and field workers is easy with the integrated dispatch feature.</p>
                                </article></a>
                            </div>
                            <hr class="vertical-space1">
                            <div class="col-md-4 col-lg-3 interlineado">
                                <a href="#apps"><article class="icon-box5"><div><i class="fas fa-mobile-alt"></i></div> 
                                  <h4>Aplicacion &amp; Movil</h4>
                                  <p class="text-dark">You can manage your fleet in real-time with your phone or tablet, no matter where you are.</p>
                                </article></a>
                            </div>
                            <div class="col-md-4 col-lg-3 interlineado">
                                <a href="#partner"><article class="icon-box5"><div><i class="fas fa-briefcase"></i></div> 
                                  <h4>Partner-focused</h4>
                                  <p class="text-dark">You provide services using our white-label software. We provide the best support &amp; training.</p>
                                </article></a>
                            </div>
                            <div class="col-md-6 col-lg-3 interlineado">
                                <a href="#scalable"><article class="icon-box5"><div><i class="fas fa-database"></i></div>
                                  <h4>Scalable &amp; unlimited data</h4>
                                  <p class="text-dark">You can store unlimited data and have 25,000 vehicles in one application.</p>
                                </article></a>
                            </div>
                            <div class="col-md-6 col-lg-3 interlineado">
                                <a href="#apis"><article class="icon-box5"><div><i class="fas fa-user-cog"></i></div>
                                  <h4>Configurable</h4>
                                  <p class="text-dark">Custom branding &amp; workspaces, open-source apps, push and REST APIs, and scripting.</p>
                                </article></a>
                            </div>
                            <hr class="vertical-space2">	
                        </div>
            </div>
    </section>
    <section class="real-time py-4">
          <div class="container py-4">
            <div class="row">
              <div class="col-sm-6 d-flex align-items-center justify-content-center">
                <div>
                  <h3>Real-time tracking and alerts</h3>
                  <p>Intelligent mapping tools mean more than just a dot on the map. Over 750 supported devices mean fast setup.
                    You always have real-time information for every vehicle in your fleet. You can stay updated with alerts and notifications. Geofences and events help automate your business. Each output uses your custom business rules.</p>
                  </div>
              </div>
              <div class="col-sm-6 ">
                <div>
                    <img class="img-fluid" src="img/index_realtime.png" alt="">
                </div>
              </div>
            </div>
          </div>
    </section>            
    <section class="reporting py-4">
          <div class="container py-4">
            <div class="row">
              <div class="col-sm-6 ">
                <div>
                    <img class="img-fluid" src="img/index_reports.png" alt="">
                </div>
              </div>
              <div class="col-sm-6">
                  <hr class="vertical-space2">
                  <h2 class="extr">Reporting</h2>
                  <br>
                  <h5>All the standard reports you need (trip and Idle, time on site, eco-driving scorecard, etc.), and as many custom reports as you want.</h5>
                  <br>
                  <h5>It’s easy to get the right information to the right person at the right time. You can create custom reports for each business role and have them run on your schedule.</h5>
                  <br>
                  <h5>Using our APIs, you can also route data and reports to any of your other business systems.</h5>
                </div>
            </div>
          </div>
    </section>
    <footer class="contactanos">
        <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>Contacta a tracker gps</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Otros Productos</h3>
                <ul>
                    <li><a href="">Car tracker</a></li>
                    <li><a href="">Moto Tracker</a></li>
                    <li><a href="">Marine Tracker</a></li>
                    <li><a href="">My Tracker gps</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Productos| empresas </h3>
                <ul>
                        <li><a href="">Fleet Tracker Gps</a></li>
                        <li><a href="">Cargo Tracker Gps</a></li>
                        <li><a href="">Asset Tracker Gps</a></li>
                        <li><a href="">Cooler Tracker Gps</a></li>
                    </ul>
            </div>
        </div>   
    </div>
            <div class="contacto">
                
            </div>
    </footer>         
    
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.js"></script>