* ul{
    margin: 0;
    list-style: none;
}
* li{margin: 0; padding: 0; list-style: none;}

body{background:linear-gradient(#00295e,#015555);overflow-y:scroll;height: 100%;}
#particles-js{position: absolute;
    height: 100%;
    width: 100%;
}
@keyframes flavio{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
}
body::-webkit-scrollbar{
    width: 14px;
}
body::-webkit-scrollbar-thumb{
    background:rgb(231, 170, 0);
    border-radius: 4px;
}
.redes{
    height: 50px;
}
.navbar-color{
    background: #0A162D!important;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 999!important;}
.navbar{padding-top: 0;padding-bottom: 0;}
.navbar-nav{
    height: 50px;
}

.navbar-brand{padding: 0;}
.navbar-brand>div{
    height: 100%;
    width: 100px;
}
.navbar-brand>div>img{
    height: 50px;
    width: 100%;
    object-fit: cover;
}
.nav-link{   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 17px;
}
.nav-link:hover{
    color: white;
}
.redes>a{width: 50px;}
.redes>a:hover{color: white!important;}
.twitter{background: #55ADED;color: white;}
.facebook{background: blue;color: white;}
.github{background: black;color: white;}
.pinterest{background: #CB2027;color: white;position: absolute;}

.contenedor-layout{
    height: auto;
    width: 100%;
    background: transparent;
}
.contenedor-layout>div,.contenedor-layout>div>div{height: 100%;}
.content_imagen{height: 210px;width: 100%;overflow-y: scroll;
}
.contenedor_portafolio:hover > .content_imagen{
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 0px 30px 1px skyblue, 0px 0px 1px 1px blue;
}
.contenedor_portafolio:hover >.text-hover{
    text-shadow: 
    0 0 5px rgb(29, 165, 255),
    0 0 15px rgb(29, 165, 255)
}
.img_page{height: auto;width: 100%;object-fit: cover;}
.content_imagen::-webkit-scrollbar{
    width: 7px
}
.content_imagen::-webkit-scrollbar-thumb{
    background:rgb(77, 77, 77);
    border-radius: 4px;
}
.content_admin_page::-webkit-scrollbar-track {
    background: #b3b3b398;
}
.btn-outline-success{
    border: 2px solid;
    color: white;
    background: rgba(0, 0, 0, 0.514);

}
/* SITE ANIMATION  */

.side-animation{
    position: fixed;
    left: 0;
    bottom: 20px;
    height:220px;
    width: 350px;
    margin:auto;
    display: flex;
    flex-direction: row;    
    transform: translateX(-100%);

}
.mover-item1{
    animation:2s mover1 linear forwards;
}
.mover-item{
    position: absolute;
    animation:2s mover linear forwards;
    /* display: block!important; */
}
@keyframes mover{
    from{left: 0;}
    to{left: 100%;}
}
@keyframes mover1{
    0%{left: 100%;}
    20%{left: 100%;}
    100%{left: 180%;}
}
.items-side,.items-side>img{
    height:100%;
    width:100%;    
}
.items-side:nth-child(1),.items-side:nth-child(1)>img{
    border-radius: 10px;
}
.items-side:nth-child(2){
    position: absolute;
    height: 150px;
    width: 150px;
    right: -100px;
    bottom: 0px;
    left: 100%;
}
.btn-side{
    height:40px;
    width:40px;
    background:red;
    border-radius: 50%;
    background: #771be7;
    top: -17px;
    right: -15px;
    position: absolute;
    display: none;
}
.btn-side>img{
    position: relative;
    height: 100%;
    width: 100%;
    padding:10px;
}
.contenedor-item{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.content-time{
    height: 50px;
    width: 100%;
    padding: 10px;
    border:1px solid;
}
.time{
    height: 100%;
    width: 40px;
    border: 1px solid;
}
/*  CHABOT*/
.chatbot{
    position: fixed;
    height: 390px;
    width: 280px;
    bottom: 0em;
    right: 25px;
}

li{list-style: none;padding:0;}
* p{margin: 0;}
*{box-sizing: border-box;}
#chat{
    height: 100%;
    width: 100%;
    bottom: 0px;right: 30px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.226);
}
#status{
    width: 100%;
    min-height: 30px;
    height: auto;
    position: relative;
    background:#0A162D;
    border-radius: 8px 8px 0px 0px;
    z-index: 2;
    top:0.4px;
    display:flex;
    flex-direction:column;
    cursor: pointer;
    align-items: center;
    
}
#status>div{
    width: 100%;display: flex;flex-direction: row;height: 50%;display: flex;
    min-height: 40px;
    align-items: center;
    padding: 5px 10px ;
}
#status>div>.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    flex-grow: 1;
    color:white;
    font-weight: bold;
}
.usuario p{
    font-weight: 500;
    font-size:15px;
}
#identity{
    position: relative;
    height: 50px!important;
    min-height: 50px!important;
    width: 100%;
    background: #f5f4f4;
    padding: 0!important;
    /* box-shadow: 0px 0px 10px 0px black; */
}
#identity:after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    left: -10px;
    transform:scale(.99);
    box-shadow: 10px 0px 10px 1px #000000;
}
#identity>div>img{
    height: 100px;
    width: 100px;
}
#identity p{color: rgb(109, 109, 109);font-size: 13px;}


#show-message{
    /* height:87%; */
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: url("/img/fondo_nubes.jpg");
    background-size: cover;
    border-bottom: 1px solid rgba(124, 124, 124, 0.274);
    overflow-y: scroll;
    padding: 0px 2px 0px 4px;
}
#content-message{
    height: 13%;
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: row;
}
#show-message::-webkit-scrollbar {
    width: 7px; 
}
#show-message::-webkit-scrollbar-thumb {
    background:rgb(77, 77, 77);
    border-radius: 4px;
}
#show-message::-webkit-scrollbar-track {
    background: #b3b3b398;
}


#get-message{
    border: 0px;
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    flex-grow: 1;
}
#get-message:focus{
    outline: none;
}
#send-message{border: 0px;background: white;width: 40px;}
.point{
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    right: 0px;
    margin: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.point>img{
    position :relative;
    height: 100%;
    width: 100%;
}
.contenedor-enviado,.contenedor-recivido{
    display: flex;
    flex-direction: row;
    margin: 2px;
}
.complemento{
    flex-grow: 1;
    order:2
}
.text-enviado{
    padding: 10px;
    border-radius: 7px 0px 7px 7px;;
    color:white;
    order: 3;
    background: rgba(0, 128, 0, 0.527);
}
.text-recivido{
    padding: 10px;
    border-radius: 0px 7px 7px 7px;
    color:white;
    order: 1;
    background: #437bc4;
}
.contenedor-recivido .triangule{
    position: absolute;
    left: 1px;
    height: 0;
    border-right: 3px solid #437bc4;
    border-top: 3px solid #437bc4;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.contenedor-enviado .triangule{
    transform: rotateX(161deg);
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-right: 1px solid transparent;
    border-top: 3px solid transparent;
    border-left: 3px solid rgba(0, 128, 0, 0.527);
    border-bottom: 3px solid rgba(0, 128, 0, 0.527);
}


.minimizar{
    height: 0;
}
.status-show{
    min-height: 41px!important;
    top: -40px!important;
    position: absolute!important;
}
.show-bot{
    position: absolute!important;
    top: -68px!important;
}
@keyframes minimizar{
    0%{height: 100%;}
    100%{height: 21%;}
}
/*  CHATBOT*/

/* fin  */
/* RESPOSIVE */


@media (max-width:1500px){
}
@media (max-width:991px){
    
}
@media (max-width:768px){

}
@media (max-width:575px){
    .side-animation{
        position: fixed;
        left: 0;
        bottom: 20px;
        height:180px;
        width: 260px;
    }
    .items-side:nth-child(2){
        position: absolute;
        height: 100px;
        width: 100px;
    }
    .contenedor-item h4{
        font-size: 15px;
    }
    .contenedor-item p{
        width: 80%;
        padding: 0px 10px!important;
        word-spacing: -2px!important;
    }
    .navbar-nav{
        height: auto!important;
        margin: 10px 0px;
        
    }
    .redes{
        position: relative;
        display: flex;
        padding: 0px!important;
    }
    .redes>a{
        position: relative;
        height: 100%;
        width: 100%;
    }
}