* ul{
    margin: 0;
    list-style: none;
}
* li{margin: 0; padding: 0; list-style: none;}

body{background:linear-gradient(#00295e,#015555);overflow-y:scroll;}
#particles-js{position: absolute;
    height: 100%;
    width: 100%;
}
@keyframes flavio{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
}
body::-webkit-scrollbar{
    width: 14px;
}
body::-webkit-scrollbar-thumb{
    background:rgb(231, 170, 0);
    border-radius: 4px;
}
.redes{
    height: 50px;
}
.navbar-color{
    background: #0A162D!important;
}
.navbar{position: sticky;top: 0;}
.navbar{padding-top: 0;padding-bottom: 0;}
.navbar-nav{
    height: 50px;
}

.navbar-brand{padding: 0;}
.navbar-brand>div{
    height: 100%;
    width: 100px;
}
.navbar-brand>div>img{
    height: 50px;
    width: 100%;
    object-fit: cover;
}
.nav-link{   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 17px;
}
.nav-link:hover{
    color: white;
}
.redes>a{width: 50px;}
.redes>a:hover{color: white!important;}
.twitter{background: #55ADED;color: white;}
.facebook{background: blue;color: white;}
.github{background: black;color: white;}
.pinterest{background: #CB2027;color: white;position: absolute;}

.contenedor-layout{
    height: auto;
    width: 100%;
    background: transparent;
}
.contenedor-layout>div,.contenedor-layout>div>div{height: 100%;}
.content_imagen{height: 210px;width: 100%;overflow-y: scroll;
}
.contenedor_portafolio:hover > .content_imagen{
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 0px 30px 1px skyblue, 0px 0px 1px 1px blue;
}
.contenedor_portafolio:hover >.text-hover{
    text-shadow: 
    0 0 5px rgb(29, 165, 255),
    0 0 15px rgb(29, 165, 255)
}
.img_page{height: auto;width: 100%;object-fit: cover;}
.content_imagen::-webkit-scrollbar{
    width: 7px
}
.content_imagen::-webkit-scrollbar-thumb{
    background:rgb(77, 77, 77);
    border-radius: 4px;
}
.content_admin_page::-webkit-scrollbar-track {
    background: #b3b3b398;
}
.btn-outline-success{
    border: 2px solid;
    color: white;
    background: rgba(0, 0, 0, 0.514);

}
/* SITE ANIMATION  */

.side-animation{
    position: fixed;
    left: 0;
    bottom: 20px;
    height:220px;
    width: 350px;
    margin:auto;
    display: flex;
    flex-direction: row;    
    transform: translateX(-100%);

}
.mover-item1{
    animation:2s mover1 linear forwards;
}
.mover-item{
    position: absolute;
    animation:2s mover linear forwards;
    /* display: block!important; */
}
@keyframes mover{
    from{left: 0;}
    to{left: 100%;}
}
@keyframes mover1{
    0%{left: 100%;}
    20%{left: 100%;}
    100%{left: 180%;}
}
.items-side,.items-side>img{
    height:100%;
    width:100%;    
}
.items-side:nth-child(1),.items-side:nth-child(1)>img{
    border-radius: 10px;
}
.items-side:nth-child(2){
    position: absolute;
    height: 150px;
    width: 150px;
    right: -100px;
    bottom: 0px;
    left: 100%;
}
.btn-side{
    height:40px;
    width:40px;
    background:red;
    border-radius: 50%;
    background: #771be7;
    top: -17px;
    right: -15px;
    position: absolute;
    display: none;
}
.btn-side>img{
    position: relative;
    height: 100%;
    width: 100%;
    padding:10px;
}
.contenedor-item{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.content-time{
    height: 50px;
    width: 100%;
    padding: 10px;
    border:1px solid;
}
.time{
    height: 100%;
    width: 40px;
    border: 1px solid;
}

/* fin  */



@media (max-width:1500px){
}
@media (max-width:991px){
    
}
@media (max-width:768px){

}
@media (max-width:575px){
    .side-animation{
        position: fixed;
        left: 0;
        bottom: 20px;
        height:180px;
        width: 260px;
    }
    .items-side:nth-child(2){
        position: absolute;
        height: 100px;
        width: 100px;
    }
    .contenedor-item h4{
        font-size: 15px;
    }
    .contenedor-item p{
        width: 80%;
        padding: 0px 10px!important;
        word-spacing: -2px!important;
    }
    .navbar-nav{
        height: auto!important;
        margin: 10px 0px;
        
    }
    .navbar{z-index: 999!important;}
    .redes{
        position: relative;
        display: flex;
    }
    .redes>a{
        position: relative;
        height: 100%;
        width: 100%;
    }
}