body{
    background:#E9E9E9;
}
* a{text-decoration: none!important}
* li{list-style: none;margin: 0;padding: 0}
* ul{margin: 0;padding: 0}
* h1,h2,h3,h4,p,i{font-display: fallback;}
* p{margin: 0;}
.navbar{
    padding: 0px 30px;
    display: inline-flex;
    width: 100%;
}
.nav-item>a,.navbar>div>div>a{
    font-size: 14px;
    color: white;
    padding: 6px 5px;
    margin: 0;
}
.navbar-nav{
    height: 100%!important;
}
.navbar-nav>.nav-item{
    height: 100%;
}
.facebook,.twiter,.pinterest,.instagram{
    padding: 7px 15px!important;
}

.facebook:hover{
    color: white!important;
    background: #4267B2;
    transition: 0.4s linear;
}
.twiter:hover{
    color: white!important;
    background: #55ADED;
    transition: 0.4s linear;
}
.pinterest:hover{
    color: white!important;
    background: red;
    transition: 0.4s linear;
}
.instagram:hover{
    color: white!important;
    background: #F2681A;
    transition: 0.4s linear;
}
.dropdown-toggle:focus{
    box-shadow: none;
}
.items-shop:nth-child(1){
    background: rgba(39, 39, 39, 0.774);
}
.navbar-shop{
    width: 100%;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.items-shop{
    display: flex;
    height: 45px;
    width: auto;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.items-shop>a{
    color: rgba(255, 255, 255, 0.61);
    height: 45px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    flex-direction: row;
}
.contenedor-shop{
    width: auto;
    height: auto;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 2.79em;
    display: none;
    box-sizing: border-box;
}

.listado{
     background: white;
}
.items-shop>a:hover{color: white;}
.items-shop:hover{
    color: white;
    background: rgba(6, 185, 116, 0.87);
    transition: 0.6s ease;
    cursor: pointer;
}
.items-shop:hover .mostrar{
    display: block;
    border-top: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.274);
    border-right: 1px solid rgba(0, 0, 0, 0.247);
    border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.contenedor-shop>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor-shop>ul>li{
    height: 100%;
    width: 100%;
    padding:8px 10px;
    box-sizing: border-box;
    position: relative;
}
.listado{
    z-index: 999;
    border-bottom: 1px solid rgba(150, 150, 150, 0.24);
}

/* .listado>a>p:hover{color: white;} */
.listado:hover>a>p{
    color: white;
}
.listado:hover{
    background: rgba(6, 185, 116, 0.87);
    color: white;
}
.listado > * p{margin: 0;white-space: nowrap;color: rgb(41, 41, 41);}
.navbar_brand{
    display: none;
}
.contenedor-slider{
    height: 350px;
    width: 100%;
    background: red;
}
.contenedor-slider>div{width: 100%;height: 100%;position: relative;}
/* categoria */
.categoria{position: relative;}
.item_categoria{
    height: 200px;
    padding: 20px 10px;
    position: relative;
    box-sizing: border-box;
}
.item_categoria>div{box-sizing: content-box;height: 100%;width: 100%;position: relative;}
.item_categoria>div>img{width: 100%;height: 100%;object-fit: cover;position: relative;}
.item_categoria>div>a{
    bottom: 0;
    color: white;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.808);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.6s;    
}
.item_categoria>div:hover .botton-categoria{
    background: teal;
}
/* contendor de header imagen */
/*  */

.contenedor-home{
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-home>div{height: 300px;width: 100%;}
.contenedor-home>div,img{
    height: 100%;
    width: 100%;
    object-fit: cover;

    }
.boton,.boton1{
    display: flex;
    height: 40px!important;
    width: 50px!important;
    background: white;
    z-index: 10;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.boton{left: 0;align-items: center;justify-content: center;font-size: 26px;
    border-radius: 0px 4px 4px 0px;}
.boton1{right: 0;align-items: center;justify-content: center;font-size: 26px;
    border-radius: 4px 0px 0px 4px;
}

/* tarjeta */
.modelos{
    height:auto;
    width: 100%;
    background: white;
}
.modelos>ul{
    display: flex;
    flex-direction: row;
}
.lista-shop{
    height: 400px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
}
.mediaholder{position: relative;}
.mediaholder,.modelos>ul,.mediaholder>div>div>img,.cover,.cover>img{
    height: 100%;width: 100%;object-fit: cover;
    overflow: hidden;
}

.mediaholder>div{
    height: 100%;width:100%;position: relative;
}
.mediaholder>div>div{height: 100%;width: 100%;transition: 0.6s ease-out;}
.cover1{position: relative;}
.cover{position: absolute;top:0;left: 100%;}

.lista-shop:hover .cover1{
    transform: translateX(-100%);
}
.lista-shop:hover .cover{
    transform: translateX(-100%);
}
.lista-shop:hover .product-button{
    transform: translateY(-100%);
    color: white;
}

.product-button{    
    display: block;
    color: white;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.808);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}
.target-models{
    background: rgba(128, 128, 128, 0.158);
    color:gray;
}
.columns{
    height: 40px;
    width: 100%;
    position: relative;
    background: white;
}
.text-colums{
    position: absolute;
    z-index: 5;padding: 0px 6px 0px 40px;
    background: white;
}
.linea{
    top: 50%;
    width: 100%;
    height: 2px;
    background: rgba(128, 128, 128, 0.322);
    position: absolute;
}
.parallax,.contenedor_parallax{
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.329);
    z-index:2;
}
.contenedor_parallax>img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.contenedor_all_parallax{background: white;z-index: -2;}
.contendor_others,.articulos{background: white;}
.contenedor_mini{
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 6px;
}
.contenedor_mini>img{
    width: 80px;
    height: 100%;
    position: relative;
}
.contenedor_mini>div{
    height: 100%;
    padding: 10px;
    flex-basis: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: block;
}
.articulos{
    height: auto;
}
.card-body{
    font-size: 14px;
}
@media (max-width:768px){
    .categoria{
        padding: 10px 30px;
    }
    .px-sm-0{padding: 0!important;}
    .m-0{margin: 0!important;}
    .navbar-shop{
        position: absolute;
        top:0;
        left: 0;
        position: fixed;
        z-index: 9999;
        background: rgb(17, 17, 17);
    }
    .contenedor-home{
        height: 150px;
    }
    .navbar-toggler{
        color: white;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .contenedor-home{
        position: relative;
        top: 0;
    }
    .item_categoria{
        padding: 10px;
    }
    .parallax{
        padding: 15px;
    }
    #parallax{
        position: absolute;
        bottom: 0;
        height:100%;width: 100%;
    }
    .navbar-dark{position: fixed;}
}
